.reviews{
    display: flex;
    flex-direction: column;
    box-shadow: -3px -6px 5px 0px #0000001A;
    width: 100%;
    background-color: #0000001A;
    position: absolute;
    padding: 0 0 60px 0;
    margin-top: 4800px;
}
.reviewsHeader{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.reviewsHeader h3{
    width: 90%;
    color: #3B7197;
    font-size: xx-large;
    font-weight: 600;
    text-align: left;
}
.reviewsNavigation{
    display: flex;
    justify-content: right;
    gap: 5px;
    margin: 20px 0;
}
.reviewsNavigation img{
    width: 30px;
    height: 30px;
}
.reviewsBody{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
}


/* REVIEWS ITEM */
.reviewItem{
    padding: 20px;
    background-color: #FFFF;
}
.reviewItemHeader{
    display: flex;
}
.reviewItemHeader img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.reviewItemHeader div{
    margin-left: 10px;
}
.reviewItemHeader h3{
    margin: 0;
}
.reviewItemHeader p{
    margin: 0;
}
.reviewDesc{
    font-size: small;
}
.reviewItemFooter{
    display: flex;
    gap: 150px;
}
.reviewItemFooter p{
    margin: 0;
    font-size: 13px;
}
.reviewItemFooter img{
    width: 16px;
    height: 15px;
}
.rating{
    display: flex;
    justify-content: right;
}